* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: cadetblue;
    --secondary-color: darkorange;
    --background-white: #ffffff;
    --background-secondary: rgb(234, 234, 234);
    --text-primary: black;
    --text-secondary: white;
    --text-teriary: grey;

    font-size: 16px;
    font-family: Poppins, sans-serif;

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
}

svg.small {
    width: 1.5rem;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 170px 1fr;
}

.sidebar {
    background-color: var(--primary-color);
    color: var(--text-secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: var(--margin-s);

    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 0px 4px;
}

.sidebar .logo {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: var(--margin-xs);
}

.sidebar svg {
    width: 2.75rem;
}

.main-sections,
.misc-sections {
    display: flex;
    flex-direction: column;
    padding-left: var(--margin-s);
    gap: var(--margin-s);
}

.main-sections div,
.misc-sections div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1rem;
}

.main-sections svg,
.misc-sections svg {
    width: 1.25rem;
}

.topbar {
    background-color: var(--background-white);
    padding-top: var(--margin-m);
    padding-bottom: var(--margin-m);
    padding-left: var(--margin-xl);
    padding-right: var(--margin-xl);

    display: flex;
    flex-direction: column;
    gap: var(--margin-l);

    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;
}

.searchbar .left,
.searchbar .right {
    display: flex;
    align-items: center;
    gap: var(--margin-m);
}

.searchbar .left {
    flex-grow: 1;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar svg {
    width: 1.5rem;
}

#searchbar {
    background-color: var(--background-secondary);
    border: none;
    border-radius: 16px;
    font-size: 1.25rem;
    padding-left: var(--margin-m);
    padding-right: var(--margin-m);
    height: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .left {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

#sushi {
    background-image: url("images/sushi.jpg");
    background-position: top 47.5% left 47.5%;
    background-size: 180px auto;
}

#tubby {
    background-image: url("images/tubby.jpg");
    background-position: top 42% left 44%;
    background-size: 100px auto;
}

#twig {
    background-image: url("images/twig.jpg");
    background-position: top 53% left 50%;
    background-size: 180px auto;
}

.profile.big#sushi {
    width: 5rem;
    height: 5rem;
    background-size: 360px auto;
}

div.navbar-buttons {
    display: flex;
    justify-content: right;
    gap: 1.5rem;
}

button.navbar-buttons {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-secondary);
    width: 5rem;
    height: 2.25rem;
    border-radius: 20px;
    font-weight: 600;
}

.content {
    background-color: var(--background-secondary);

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px 1fr;
    gap: 10px;
    padding: 20px 30px 20px 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--margin-l);
    padding-right: var(--margin-s);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.card {
    background-color: var(--background-white);
    padding: var(--margin-xl);
    border-left: var(--secondary-color) 6px solid;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 4px;
}

.card p {
    color: var(--text-teriary);
}

.card-buttons {
    display: flex;
    align-self: end;
    gap: var(--margin-m);
}

.card-buttons img {
    width: 28px;
}

.right-side {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: var(--margin-l);
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: var(--margin-s);
}

.announcements > div {
    box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 4px;
}

.announcements div {
    background-color: var(--background-white);
    border-radius: 4px;
    padding: var(--margin-s);
}

.announcements .item {
    max-height: 33%;
}

.announcements p {
    font-size: 0.75rem;
    color: var(--text-teriary);
    text-overflow: ellipsis;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: var(--margin-s);
}

.trending-container {
    background-color: var(--background-white);
    padding: var(--margin-l);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: var(--margin-l);
    box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 4px;
}

.trending-container .item {
    display: flex;
    gap: var(--margin-s);
}

.trending-user p {
    color: var(--text-teriary);
}