* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: cadetblue;
    --secondary-color: darkorange;
    --background-white: #ffffff;
    --background-secondary: rgb(234, 234, 234);
    --text-primary: black;
    --text-secondary: white;
    --text-teriary: grey;

    font-size: 16px;
}

html {
    font-family: Poppins, sans-serif;
}

svg.small {
    width: 1.4rem;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 170px 1fr;
}

.sidebar {
    background-color: var(--primary-color);
    color: var(--text-secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}

.sidebar .logo {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    gap: 6px;
}

.sidebar svg {
    width: 3rem;
}

.main-sections,
.misc-sections {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    gap: 12px;
}

.main-sections div,
.misc-sections div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1rem;
}

.main-sections svg,
.misc-sections svg {
    width: 20px;
}

.topbar {
    background-color: var(--background-white);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.searchbar .left,
.searchbar .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchbar .left {
    flex-grow: 1;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar svg {
    width: 1.4rem;
}

#searchbar {
    background-color: var(--background-secondary);
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 40px;
    height: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#sushi {
    background-image: url("images/sushi.jpg");
    background-position: top 47.5% left 47.5%;
    background-size: 180px auto;
}

#tubby {
    background-image: url("images/tubby.jpg");
    background-position: top 42% left 44%;
    background-size: 100px auto;
}

#twig {
    background-image: url("images/twig.jpg");
    background-position: top 53% left 50%;
    background-size: 180px auto;
}

.profile.big#sushi {
    width: 80px;
    height: 80px;
    background-size: 360px auto;
}

div.navbar-buttons {
    display: flex;
    justify-content: right;
    gap: 24px;
}

button.navbar-buttons {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-secondary);
    width: 90px;
    height: 36px;
    border-radius: 20px;
    font-weight: 600;
}

.content {
    background-color: var(--background-secondary);

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px 1fr;
    gap: 10px;
    padding: 20px 30px 20px 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding-right: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.card {
    background-color: var(--background-white);
    padding: 30px;
    border-left: var(--secondary-color) 6px solid;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card p {
    color: var(--text-teriary);
}

.card-buttons {
    display: flex;
    align-self: end;
    gap: 10px;
}

.card-buttons img {
    width: 28px;
}

.right-side {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.announcements div {
    background-color: var(--background-white);
    border-radius: 5px;
    padding: 10px;
}

.announcements .item {
    max-height: 33%;
}

.announcements p {
    font-size: 0.8rem;
    color: var(--text-teriary);
    text-overflow: ellipsis;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending-container {
    background-color: var(--background-white);
    padding: 30px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trending-container .item {
    display: flex;
    gap: 10px;
}

.trending-user p {
    color: var(--text-teriary);
}