* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: cadetblue;
    --secondary-color: darkorange;
    --background-white: #ffffff;
    --background-secondary: rgb(234, 234, 234);
    --text-primary: black;
    --text-secondary: white;
    --text-teriary: grey;
    
    font-size: 16px;
}

html {
    font-family: Poppins, sans-serif;
}

svg.small {
    width: 1.4rem;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    background-color: var(--primary-color);
    color: var(--text-secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}

.sidebar .logo {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    gap: 6px;
}

.sidebar svg {
    width: 3rem;
}

.main-sections,
.misc-sections {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    gap: 12px;
}

.main-sections div,
.misc-sections div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1rem;
}

.main-sections svg,
.misc-sections svg {
    width: 20px;
}

.topbar {
    background-color: var(--background-white);

    display: flex;
    flex-direction: column;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar svg {
    width: 1.4rem;
}

#searchbar {
    background-color: var(--background-secondary);
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 40px;
    height: 24px;
}

.navbar {
    display: flex;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#sushi {
    background-image: url("images/sushi.jpg");
    background-position: top 47.5% left 47.5%;
    background-size: 180px auto;
}

.profile.big#sushi{
    width: 60px;
    height: 60px;
    background-size: 270px auto;
}

div.navbar-buttons {
    display: flex;
    justify-content: right;
    gap: 16px;
}

button.navbar-buttons {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-secondary);
    width: 70px;
    height: 26px;
    border-radius: 15px;
}

.content {
    background-color: var(--background-secondary);
}

.card {
    background-color: var(--background-white);
}